#md_title{
	font-size: 36px;
	font-weight: bold;
	color: #333333;
	height: 184px;
	line-height: 184px;
	width: 1050px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 10px;
}

#media_menu{height: 83px;padding: 40px 0 50px 0;width: 1050px;margin: 0 auto;}
#media_menu .menu_area{width: 100%;height: 100%;margin: 0 auto;}
#media_menu .menu_area .menu_item{
	border: 1px solid #e4e4e4;
	width: 348px;
	font-size: 18px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.color_on{background-color: #00489d;color: #ffffff;}
.color_off{background-color: #f3f3f3;color: #aaaaaa;}
.line_83{line-height: 83px;height: 83px;}
.line_41{line-height: 41px;height: 83px;}
.line_no{line-height: 22px;height: 63px;padding-top: 20px;}
.border_1px{height: 1px;background-color: #e4e4e4;width: 100%;}
.border_1_1050{height: 1px;background-color: #e4e4e4;width: 1050px;margin: 0 auto;}
.border_6px{height: 6px;background-color: #e4e4e4;width: 1050px;margin: 0 auto;}
.floatL{float: left;}
.w_84{width: 84px;}
.w_680{width: 680px;}
.w_170{width: 170px;}
.w_116{width: 116px;}
#media_center{
	width: 100%;
	min-width: 1050px;
	margin: 0 auto;
}
#media_center .search_area{display: none;}

#media_center .board_header{
	width: 1050px;
	height: 50px;
	background-color: #f3f3f3;
	margin: 0 auto;
	color: #aaaaaa;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
	margin-top: 13px;
}
#media_center .board_body{
	width: 1050px;
	height: 86px;
	line-height: 86px;
	background-color: #ffffff;
	margin: 0 auto;
	color: #333333;
	font-size: 16px;
	text-align: center;
}
.align_c{text-align: center;}
.align_l{text-align: left;}

#media_center .news_area{width: 1050px;height: 460px;margin: 0 auto;}
#media_center .news_area .item{width: 330px;height: 450px;border: 1px solid #f3f3f3;float: left;}
#media_center .news_area .item .image{width: 330px;height: 240px;background-color: #f3f3f3;}
#media_center .news_area .item .title{margin: 30px 30px 0 30px;font-size: 19px;font-weight: bold;line-height: 28px;color: #333;}
#media_center .news_area .item .content{margin: 18px 30px 0 30px;font-size: 14px;line-height: 20px;color: #aaa;}
#media_center .news_area .item .date{margin: 18px 30px 0 30px;font-size: 12px;color: #333;}

#media_center .board_page{
	width: 1050px;
	height: 40px;
	background-color: #ffffff;
	margin: auto;
	color: #333333;
	font-size: 15px;
	text-align: center;
	padding-top: 137px;
}
#media_center .board_page img{
	vertical-align: middle;
	float: left;
}
#media_center .board_page label{
	width: 40px;
	line-height: 40px;
	float: left;
}
#media_center .webtoon_area{width: 1050px;height: 370px;margin: 0 auto;}
#media_center .webtoon_area .item{width: 330px;height: 360px;border: 1px solid #f3f3f3;float: left;}
#media_center .webtoon_area .item .image{width: 330px;height: 240px;background-color: #f3f3f3;}
#media_center .webtoon_area .item .title{margin: 30px 30px 0 30px;font-size: 19px;font-weight: bold;line-height: 28px;color: #333;}
#media_center .webtoon_area .item .date{margin: 18px 30px 0 30px;font-size: 12px;color: #333;}
