/*메인 컨텐츠 CSS*/
#mid-area-1{width: 100%;max-width: 1780px;min-width: 1050px;height:609px;margin: 0 auto;position: relative;overflow-x:hidden;padding:0 0 100px;}
#mid-area-2{width: 100%;max-width: 1780px;min-width: 1050px;margin: 0 auto;height: 460px;background-color: #FFF;text-align: center;position: relative;}
#mid-area-2 .mid-menu{width: 1003px;margin: 0 auto;height: 200px;}
#mid-area-3{width: 100%;max-width: 1780px;min-width: 1050px;margin: 0 auto;height: 900px;background-color: #1fa574;position: relative;} 			
#mid-area-3 .mid-menu{clear: left;width: 1052px;min-width: 1050px;height: 378px;margin: 0 auto;}
#mid-area-3 .webtoon_area{width: 263px;float: right;}
#mid-area-4{width: 100%;max-width: 1780px;min-width: 1050px;margin: 0 auto;height: 510px;background-color: #00489d;position: relative;}
#mid-area-4 .mid-menu{width: 1050px;height: 210px;margin: 0 auto;}
#mid-area-4 .mid-menu img{width: 100%;}
#submenu_01{background-image: url('/img/pc/submenu_01.png');}
#submenu_02{background-image: url('/img/pc/submenu_02.png');}
#submenu_03{background-image: url('/img/pc/submenu_03.png');}
#submenu_04{background-image: url('/img/pc/submenu_04.png');}
#submenu_01:hover{background-image: url('/img/pc/submenu_01_on.png');}
#submenu_02:hover{background-image: url('/img/pc/submenu_02_on.png');}
#submenu_03:hover{background-image: url('/img/pc/submenu_03_on.png');}
#submenu_04:hover{background-image: url('/img/pc/submenu_04_on.png');}

#mid-area-1 .cycle-slideshow {position:absolute;top:0;left:50%;margin-left:-890px;width:1780px;}
#mid-area-1 .cycle-slideshow img {width:100%;max-width:1780px;}

.mid-area-3-01:after {display:block;content:'';clear:both;}
.mid-area-3-02{width:1050px; margin:0 auto; margin-top:30px; }
.webtoon_box{ width:524px; margin-right:1px; float:left;}
.list_box{ width:525px; float:left;}
.list_box ul,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0; border:0;overflow-y:hidden;}
.list_box li{ width:525px; height:60px; background:#fff; margin-bottom:1px; line-height:60px;}
/*.list_box li:last-child{ background-color:#0e3325; margin-bottom:0px;}*/
.list_box li dt,dd{float:left;}
.list_box li dt{width:100px; text-align:center; font-size:11px; font-weight:bold; color:#005cbe; letter-spacing:1.5px;}
.list_box li dd{width:305px; font-size:15px; font-weight:bold;}
.list_box li dd a:hover{text-decoration:none;}
.list_box li dd + dd{width:120px; text-align:center; font-size:13px; font-weight:normal; color:#aaa;}
/*.list_box li:last-child dt{color:#fff;}*/
/*.list_box li:last-child dd a{color:#fff;}*/
/*.list_box li:last-child dd + dd{color:#fff;}*/
.mid-area-3-02:after {display:block;content:'';clear:both;}



/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: -56px; overflow: hidden;
}
.cycle-pager span { 
	margin:0 3px;
    font-family: arial; font-size: 40px; width: 16px; height: 16px; 
    display: inline-block; color: #ccc; cursor: pointer; border-radius:50%;line-height:16px;text-align:center;
}
.cycle-pager span.cycle-pager-active { color: #000;border:1px solid #000;}
.cycle-pager > * { cursor: pointer;}

.news_title	{width: 220px;height:38px;margin: 20px 0 16px 24px;font-size: 15px;overflow-y: hidden;line-height: 19px;}
.news_date	{font-size: 13px;color: #AAAAAA;margin-left: 24px; margin-bottom: 20px;}
